            /*
            Programado por: Angel Martin Morales Haro
            Grupo:4K Docente: Ma. Eugenia Acuña Reyes
            Trabajo Final
            */
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

            /*
            Diseño del cuerpo de pagina
            */

        html{
            scroll-behavior: smooth;
        }
        body::-webkit-scrollbar{
            background: #191919;
            width: 12px;
            overflow-y: scroll;
            scroll-behavior: auto;

        }

        body::-webkit-scrollbar-thumb {
            background: rgba(255,255,255, .2);
            border-radius: 10px;
            border-right: 2px solid transparent;
            scroll-behavior: auto;
        }

        header{
            position: relative;
            
        }

        
        body::-webkit-scrollbar{
            background: #191919;
            width: 12px;

        }

        body::-webkit-scrollbar-thumb {
            background: rgba(255,255,255, .2);
            border-radius: 10px;
            border-right: 2px solid transparent;
        }

        header{
            position: relative;
            scroll-behavior: auto;
        }

        html {
            min-height: 100%;
             }
    
        body{
            height: calc(100vh - 8em);
            background-color: #d4d4d4;
            animation: fadeInAnimation ease 2s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
            }
            /*
            Diseño del boton de navegacion
            */
        .menu{
            position: relative;
            width: 200px;
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            display: flex;
            z-index: 1005;
            bottom: 8px;
        right: 16px;
        }

        .menu li{
            position: absolute;
            left: 0;
            list-style: none;
            transform-origin: 100px;
            transition: 0.5s;
            transition-delay: calc(0.1s * var(--i));
            transform: rotate(0deg) translateX(80px);
            
        }

        .menu.active li{
            transform: rotate(calc(360deg / 8 * var(--i)));

        }

        .menu li a{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            background: #fff;
            border-radius: 50%;
            transform: rotate(calc(360deg / -8 * var(--i)));
            box-shadow: 0 3px 4px rgba(0,0,0,0.15);
            color: #111;
            transition: 0.5s;
        }

        .menu li a:hover{
            color: #ff1252;
        }

        .toggle{
            position: absolute;
            width: 60px;
            height: 60px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 10000;
            border-radius: 50%;
            cursor: pointer;
            box-shadow: 0 0 4px rgba(0,0,0,0.15);
            font-size: 2em;
            transition: 1.25s;
        }

        .menu.active .toggle{
            transform: rotate(315deg);
        }



        @keyframes fadeInAnimation {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

        /*
        Contenedores principales
        */
        
        .contenedor{
            padding: 60px 0;
            width: 90%;
            max-width: 1000px;
            margin: auto;
            overflow: hidden;
        }
        
        .titulo{
            font-family: 'Raleway', sans-serif;
            color: white;
            font-size: 35px;
            text-align: center;
            margin: 40px;
            margin-bottom: 60px;
        }

        .titulog{
            font-family: 'Raleway', sans-serif;
            color: white;
            font-size: 35px;
            margin: 20px;
            text-align: center;
            margin-bottom: 40px;
        }
        
        .titulov{
            font-family: 'Raleway', sans-serif;
            color: #191919;
            font-size: 35px;
            text-align: center;
            margin: 40px;
            margin-bottom: 60px;
        }

        .tituloc{
            font-family: 'Raleway', sans-serif;
            color: #191919;
            font-size: 35px;
            text-align: center;
            margin: 40px;
            margin-bottom: 60px;

        }

        /*
         Diseño del slider principal
        */

        #slider{
            overflow: hidden;

        }

        #slider figure{
            position: relative;
            width: 500%;
            margin: 0;
            left: 0;
            filter: brightness(60%);
            animation: 20s slider infinite;
            }

        #slider img{
            width: 20%;
            /*max-height: 650px;*/
            float: left;
            animation: 8s brillo infinite;
         }

        figure img{
             max-height: 100vh;
             min-width: 100vh;
        }

        /*
        Animacion de brillo de la pagina web
        */

        @keyframes brillo {
            50% {
            -webkit-filter: grayscale(100%); 
            filter: grayscale(100%);
            }
        }

        @keyframes bluer {
            from{
                filter: blur(0px);
            }

            to{
                filter: blur(6px);

            }
        }

        /*
        Animacion de brillo del slider principal
        */


        @keyframes slider {
            0% {
                left: 0;
            }
            20% {
                left: 0;
            }
            25% {
                left: -100%;
            }
            45% {
                left: -100%;
            }
            50% {
                left: -200%;
            }
            70% {
                left: -200%;
            }
            75% {
                left: -300%;
            }
            95% {
                left: -300%;
            }
            100% {
                left: -400%;
            }
        }

        /*
        Animacion del titulo principal
        */

        .line{
            font-family: 'Anonymous Pro', monospace;
            color: white;
            position: absolute;
            top: 50%;
            left: 43%;
            transform: translate(-50%, -50%);
            width: 6em;
            margin:  0 auto;
            border-right: 2px solid rgba(255, 255, 255, 0.75);
            font-size: 160%;
            text-align: center;
            white-space: nowrap;
            overflow: hidden; transform: translateY(-50%);
        }

        .anim-typewriter {
        animation: typewriter 3s steps(20) 1s 1 normal both,
        blinkTextCursor 500ms steps(20) infinite normal;
        }

        @keyframes typewriter {
        from {
                width: 0;
        }
        to {
                width: 6em;
        }
        }

        @keyframes blinkTextCursor {
        from {
                border-right-color: rgba(255, 255, 255, 0.75);
        }
        to {
                border-right-color: transparent;
        }
        }

        .header2 {
            position: absolute;
            font-family: 'Montserrat', sans-serif;
            color: white;
            font-size: 60%;
            top: 57%;
            left: 49%;
            transform: translate(-50%, -50%);
        }

            /*
            Diseño del index
            */
        
        nav{
            font-family: 'Poppins', sans-serif;
            text-align: right;
            font-size: 20px;
            padding: 20px 50px 0 0;
            position: absolute;
            /*
            position: fixed;
            display: flex;
            z-index: 10;
            */

            top: 8px;
            right: 16px;
        }
        
        nav>a{
            color: aliceblue;
            font-weight: 300;
            text-decoration: none;
            margin-right: 10px;
            
        }

        
        nav>a:hover{
            text-decoration: underline;

        }

        .header{
            background-color: #191919;
        }

            /*
            Diseño del web
            */

        section #wavess {
            position: absolute;
            overflow: hidden ;
        }
        
        section .wave{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100px;
            background: url(img/wave.png); 
            background-size: 1000px 100px;
        
        }

        header .waveB{
            position: absolute;
            z-index: 1001;
            bottom: 0;
            width: 100%;
        }
        
        section .wave.wave1{
            animation: animate 30s linear infinite;
            z-index: 1000;
            opacity: 1;
            animation-delay: 0s;
            bottom: 0;
        }
        
        section .wave.wave2{
            animation: animate2  15s linear infinite;
            z-index: 999;
            opacity: 0.5;
            animation-delay: -5s;
            bottom: 10px;
        }
        
        section .wave.wave3{
            animation: animate  30s linear infinite;
            z-index: 998;
            opacity: 0.2;
            animation-delay: -2s;
            bottom: 15s;
        }
        
        section .wave.wave4{
            animation: animate2  5s linear infinite;
            z-index: 997;
            opacity: 0.7;
            animation-delay: -5s;
            bottom: 20px;
        }

            /*
            Animacion de la pagina web
            */
        
        @keyframes animate{
            0%{
                background-position-x: 0;
            }
            100%{
                background-position-x: 1000px;
            }
        }
        
        @keyframes animate2{
            0%{
                background-position-x: 0;
            }
            100%{
                background-position-x: -1000px;
            }
        }

        
            /*
            Animacion paralax del wave
            */
        
        .parallax > use {
            animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
        }
        .parallax > use:nth-child(1) {
            animation-delay: -2s;
            animation-duration: 7s;
        }
        .parallax > use:nth-child(2) {
            animation-delay: -3s;
            animation-duration: 10s;
        }
        .parallax > use:nth-child(3) {
            animation-delay: -4s;
            animation-duration: 13s;
        }
        .parallax > use:nth-child(4) {
            animation-delay: -5s;
            animation-duration: 20s;
        }
        @keyframes move-forever {
            0% {
            transform: translate3d(-90px,0,0);
            }
            100% { 
            transform: translate3d(85px,0,0);
            }
        }
        /*Shrinking for mobile*/
        @media (max-width: 768px) {
            .waves {
            height:40px;
            min-height:40px;
            }
            .content {
            height:30vh;
            }
            h1 {
            font-size:24px;
            }
        }




        /*.textos-header h1{
                font-family: 'Montserrat Alternates', sans-serif;
                font-size: 30px;
                color: #F7F7F7;
                position: absolute;
                top: 200px;
                display: flex;
                height: 370px;
                width: 100%;
                align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    text-align: center;
                    animation: fade 1s;
        }*/

            /*
            diseño del logo
            */

        .logo{
            position: absolute;
            margin: 25px;
            width: 600px;
            height: 600px;
        }

        @keyframes blinkTextCursor {
            from {
                border-right-color: rgba(255, 255, 255, 0.75);
            }
            to {
                border-right-color: transparent;
            }
        }


        @keyframes fade{
            from{
                opacity: 0;
            }

            to{
                opacity: 1;
            }
        }

        
        .textos-header h2{
            font-family: 'Montserrat Alternates', sans-serif;
                font-size: 25px;
                font-weight: 300;
                color: white;
                position: absolute;
                top: 215px;
                display: flex;
                height: 430px;
                width: 100%;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                text-align: center;


        }

            /*
            wave config
            */

        .wave{
            position: absolute;
            bottom: 0;
            width: 100%;
            fill: #191919;
            
        }

            /*
            diseño sobre nosotros
            */


        main .sobre-nosotros{
            
            padding: 40px 0 200px;
            background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
            background: #191919;
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            /*
            border-radius: 10px;
            box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
            */
            
        }

        .imagen-nosotros img{
            width: 250px;
            height: 250px;
            transition: 1s;
        }

        .imagen-nosotros:hover img{
            transform: scale(1.10);
        }

                    /*
            diseño del video
            */

        .video{
            height: 600px;
            border-radius: 20px;
        }

        .proyecto{
            overflow: hidden;
            position: absolute;
            left: 25%;
        }

                    /*
            diseño contenedor sobre nosotros
            */


        .contenedor-sobre-nosotros{
            display: flex;
            justify-content: space-evenly;
            
        }


        .sobre-nosotros .contenido-texto{
            width: 48%;
        }

        .contenido-texto h3{
            margin-bottom: 15px;
        }

        .contenido-texto h3 span{
            font-family: 'Lato', sans-serif;
            background: #7858a6;
            color: black;
            border-radius: 50%;
            display: inline-block;
            text-align: center;
            width: 30px;
            height: 30px;
            padding: 0px;
            box-shadow: 0 0 6px 0 rgba(0,0,0, 0.5);
            margin-right: 5px;
        }

        .contenido-texto h3{
            font-family: 'Lato', sans-serif;
            color: #9a0680;
            font-size: 22px;
        }

        .contenido-texto p{
            font-family: 'Lato', sans-serif;
            padding: 0px 0px 30px 15px;
            font-weight: 300;
            text-align: justify;
            font-size: 20px;
            color: white;
        }

            /*
            Contenedor del portafolio
            */

        .contenedor-portafolio{
            background-color: #191919;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
            
        }

        .copy img{
            position: absolute;
            width: 100px;
            height: 100px;
            left: 950px;
            transform: translateY(360px);
        }

        .slide-container{
            width: 100%;
            height: 85vh;
            display: flex;
            align-items: center;
            overflow: hidden;
            
        }
        
        .image-slider{
            width: 100%;
            height: 600px;
            position: absolute;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: .7s;
        
        }
            
        
        .slides-div{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 30px 0 30px;
        
        }
        
        .img{
        position: relative;
        width: 240px;
        height: 370px;
        transition: .5;
        filter: blur(8px);
        -webkit-filter: blur(8px);
        filter: saturate(10%);
        }
        .hover-galeria{
            position: absolute;
            width: 800px;
            height: 500px;
            transform: scale(0);
            background: hsla(273, 91%, 27%, 0.7);
            transition: transform 0.5s;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 25px;
        }
        
        .hover-galeria img {
            width: 50px;
            border-radius: 25px;
        
        }
        
        .hover-galeria p {
            color: #fff;
        }
        
        .image-slider:hover .hover-galeria{
            transform: scale(1);
            position: absolute;
            
        }

        .slider{
            width: 800px;
            height: 750px;
            border-radius: 10px;
            overflow: hidden;
        }
        
        .slide{
            width: 500%;
            height: 500px;
            display: flex;
        }
        
        .slide input{
            display: none;
        }
        
        .st{
            width: 20%;
            transition: 2s;
        }
        
        .st img{
            max-width: 850px;
            max-height: 500px;
        }
        
        .nav-m{
            position: relative;
            width: 800px;
            margin-top: -60px;
            display: flex;
            justify-content: center;
        }
        
        .m-btn{
            border: 3px solid #d4d4d4;
            padding: 5.5px;
            border-radius: 10px;
            cursor: pointer;
            transition: 1s;
        }
        
        .m-btn:not(:last-child){
            margin-right: 30px;
        }
        
        .m-btn:hover{
            background-color: #512D6D;
        }
        
        #radio1:checked ~ .first{
            margin-left: 0%;
        }
        
        #radio2:checked ~ .first{
            margin-left: -20%;
        }
        
        #radio3:checked ~ .first{
            margin-left: -40%;
        }
        
        #radio4:checked ~ .first{
            margin-left: -60%;
        }
        
        #radio5:checked ~ .first{
            margin-left: -80%;
        }
        
        #radio6:checked ~ .first{
            margin-left: -100%;
        }
        
        #radio7:checked ~ .first{
            margin-left: -120%;
        }
        
        #radio8:checked ~ .first{
            margin-left: -140%;
        }
        
        
        .nav-auto div{
            border: 2px solid yellow;
            padding: 5px;
            border-radius: 10px;
            transition: 1s;
        }
        
        .nav-auto div:not(:last-child){
            margin-right: 30px;
            justify-content: center;
        }
        
        #radio1:checked ~ .nav-auto .a-b1{
            background-color: brown;
        }
        
        #radio2:checked ~ .nav-auto .a-b2{
            background-color: brown;
        }
        
        #radio3:checked ~ .nav-auto .a-b3{
            background-color: brown;
        }
        
        #radio4:checked ~ .nav-auto .a-b4{
            background-color: brown;
        }
        
        #radio5:checked ~ .nav-auto .a-b5{
            background-color: brown;
        }
        
        #radio6:checked ~ .nav-auto .a-b6{
            background-color: brown;
        }
        
        #radio7:checked ~ .nav-auto .a-b7{
            background-color: brown;
        }
        
        #radio8:checked ~ .nav-auto .a-b8{
            background-color: brown;
        }
        
        .button{
            position: absolute;
            width: 240px;
            height: 370px;
            transition: .5s;
            background-color: rgba(0,0,0, .4);
        }
        
        .button:hover{
            background-color: rgba(0,0,0, .2);
        }
        
        #slider-span1:target ~ .image-slider #img1,
        #slider-span1:target ~ .image-slider #button-1{
            width: 380px;
            height: 585px;
            background-color: transparent;
            filter: saturate(100%);
        }
        
        #slider-span2:target ~ .image-slider #img2,
        #slider-span2:target ~ .image-slider #button-2{
            width: 380px;
            height: 585px;
            background-color: transparent;
            filter: saturate(100%);
        }
        
        #slider-span3:target ~ .image-slider #img3,
        #slider-span3:target ~ .image-slider #button-3{
            width: 380px;
            height: 585px;
            background-color: transparent;
            filter: saturate(100%);
        }
        
        #slider-span4:target ~ .image-slider #img4,
        #slider-span4:target ~ .image-slider #button-4{
            width: 380px;
            height: 585px;
            background-color: transparent;
            filter: saturate(100%);
        }
        
        #slider-span5:target ~ .image-slider #img5,
        #slider-span5:target ~ .image-slider #button-5{
            width: 380px;
            height: 585px;
            background-color: transparent;
            filter: saturate(100%);
        }
        
        #slider-span6:target ~ .image-slider #img6,
        #slider-span6:target ~ .image-slider #button-6{
            width: 380px;
            height: 585px;
            background-color: transparent;
            filter: saturate(100%);
        }
        
        #slider-span7:target ~ .image-slider #img7,
        #slider-span7:target ~ .image-slider #button-7{
            width: 240px;
            height: 240px;
            background-color: transparent;
            filter: saturate(100%);
        }
        
        
        #slider-span1:target ~ .image-slider{left: 70%;}
        #slider-span2:target ~ .image-slider{left: 50%;}
        #slider-span3:target ~ .image-slider{left: 25%;}
        
        #slider-span5:target ~ .image-slider{left: -25%;}
        #slider-span6:target ~ .image-slider{left: -50%;}
        #slider-span7:target ~ .image-slider{left: -70%;}
        
            /*
            diseño de clientes
            */

        .cards{
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 150px;
            transition: 1s;
        }

        .cards .card{
            background: url(IMG/wood.jpg);
            display: flex;
            width: 46%;
            height: 200px;
            align-items: center;
            justify-content: space-evenly;
            border-radius: 5px;
            box-shadow: 0 0 6px 0 rgba(0,0,0, 0.6);
            transition: 1s;
        }

        .cards .card img{
            width: 100px;
            height: 100px;
            object-fit: cover;
            border: 3px solid #fff;
            border-radius: 50%;
            display: block;
        }

        .cards .card> .contenido-card{
            width: 60%;
            font-family: 'Lato', sans-serif;
            color: #fff;
            text-align: justify;
        }

        .cards .card> .contenido-card p{
            font-weight: 300;
            padding-top: 5px;
        }


        .cards .card2{
            background: url(IMG/wood.jpg);
            display: flex;
            width: 46%;
            height: 200px;
            align-items: center;
            justify-content: space-evenly;
            border-radius: 5px;
            box-shadow: 0 0 6px 0 rgba(0,0,0, 0.6);
            transition: 1s;
        }

        .cards .card2 img{
            width: 100px;
            height: 100px;
            object-fit: cover;
            border: 3px solid #fff;
            border-radius: 50%;
            display: block;

        }

        .cards .card2> .contenido-card{
            width: 60%;
            font-family: 'Lato', sans-serif;
            color: #fff;
            text-align: justify;
        }

        .cards .card2> .contenido-card p{
            font-weight: 300;
            padding-top: 5px;
        }

        .card img{
            transition: 1s;
        }

        .card2 img{
            transition: 1s;
        }

        .card:hover{
            transform: scale(1.09);
            
        }

        .card2:hover{
            transform: scale(1.09);
            
        }

        .card:hover img{
            transform: scale(1.50);
        }

        .card2:hover img{
            transform: scale(1.50);
        }


        .acerca-de{
            background: #191919;
            padding-bottom: 30px;
        }

        .servicio-cont{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .servicio-ind{
            width: 500px;
            margin: 15px auto;
            font-family: Arial, Helvetica, sans-serif;
            position: relative;
            overflow: hidden;
        }

        .servicio-ind img{
            width: 90%;
            height: 90%;
            transition: all .5s;
        }

        .servicio-ind:hover img{
            transform: scale(1.09);
        }

        .servicio-ind .cont-text{
            background: rgba(0,0,0,.5);
            position: absolute;
            top: -100%;
            left: 0;
            text-align: justify;
            width: 100%;
            height: 100%;
            color: #fff;
            box-sizing: border-box;
            transition: 1s;
        }

        .cont-text h3{
            text-align: center;
            font-size: 25px;
            border-bottom: 1px solid #363b4E;
            padding: 0 10px 20px 10px;
        }

        .cont-text p{
            padding: 0px 20px 15px 20px;
            border-bottom: 1px solid #363b4E ;
        }

        .servicio-ind:hover .cont-text{
            top: 0;
        }

            /*
            diseño del footer
            */

 footer{

      /*background: #441144;*/
      
      background: -webkit-linear-gradient(to bottom, #191919, #272727),
      url(img/imgfond02.jpg);
      
      background: linear-gradient(to bottom,  #191919, #272727),
      url(img/imgfond02.jpg);
      
      padding: 60px 0 30px 0;
      
      margin: auto;
      
      overflow: hidden;
      
      }

      .contenedor-footer{

            display: flex;
            
            width: 90%;
            
            justify-content: space-evenly;
            
            margin: auto;
            
            padding-bottom: 50px;
            
            border-bottom: 1px solid #ccc;
            
            }
            
            .content-foot{
            
            text-align: center;
            
            }
            
            .content-foot h4{
            
            color: #fff;
            
            border-bottom: 3px solid #f9f9f9;
            
            padding-bottom: 5px;
            
            margin-bottom: 10px;
            
            }

            .content-foot p{
                  color: #ccc;
              }
              
              .titulo-final{
                font-family: 'Lato', sans-serif;
                  text-align: center;
                  font-size: 20px;
                  margin: 10px 0 0 0;
                  color: #c3e2f5;
              }
              
              footer >a{
                  color: #363b4E;
                  text-align: left;
                  font-weight: 300;
                  text-decoration: none;
                  margin-right: 10px;
              
              }

              @media screen and (max-width:900px){

              
                  .contenedor-sobre-nosotros{
                      flex-direction: column;
                      justify-content: center;
                      align-items: center;
                  }
              
                  .sobre-nosotros .contenido-textos{
                      width: 90%;
                  }
              
                  .imagen-about-us{
                      width: 90%;
                  }
              
                  /*  Galeria */
              
                  .imagen-port{
                      width: 44%;
                  }


            .servicio-ind{
                  width: 100%;
                  text-align: center;
              }
          
              .servicio-ind:nth-child(1), .servicio-ind:nth-child(2){
                  margin-bottom: 60px;
              }
          
              .servicio-ind img{
                  width: 90%;
              }
            }

            @media screen and (max-width:500px){
                  nav{
                      text-align: center;
                      padding: 30px 0 0 0;
                  }
                  nav > a{
                      margin-right: 5px;
                  }
              
                  .textos-header h1{
                      font-size: 35px;
                  }
              
                  .textos-header h2{
                      font-size: 20px;
                  }




                  


              
                  /*  contenedor ABOUT US */
              
                  .imagen-about-us{
                      margin-bottom: 60px;
                      width: 99%;
                  } 
              
                  .sobre-nosotros .contenido-textos{
                        width: 95%;
                    }
                
                    /* Clientes */

                
                    .cards .card{
                        height: 450px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                
                    .cards .card img{
                        width: 90px;
                        height: 90px;
                    }

                    
                  .contenedor-footer{
                   flex-direction: column;
                   border: none;
                    }

                        .content-foo{
                        margin-bottom: 20px;
                        text-align: center;
                  }

                  .content-foo h4{
                        border: none;
                  }

                  .content-foo p{
                        color: #ccc;
                        border-bottom: 1px solid #f2f2f2;
                        padding-bottom: 20px;
                  }

                  }

                  .flogo img{
                    left: 50%;
                  }

